body {
    background-color: black;
}

.eightBall {
    align-content: center;
    box-shadow: 0px 0px 120px hotpink;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 150px;
}



 .click {
    align-content: center;
    color: pink;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 130px;
    font-size: 25px;
    font-family: 'Major Mono Display', monospace;
 }

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/anime/ani-10/ani976.ani), url(http://cur.cursors-4u.net/anime/ani-10/ani976.png), auto !important;} /* End http://www.cursors-4u.com */